.performance-ul {
    background-color: rgba(0,0,0,0.7);
}

.song-lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    max-width: 90%;
    margin: 0 auto;
}

.song-list {
    margin: 0;
}

iframe {
    z-index: -99;
}

.animated {
    border: 12px dashed;
    animation: border-colors 2s infinite linear;
}

.centered {
    text-align: center;
}

@keyframes border-colors {
    0% {
        border-color: red;
    }

    20% {
        border-color: gold;
    }

    60% {
        border-color: teal;
    }

    80% {
        border-color: violet;
    }

    100% {
        border-color: red;
    }
}